.App {
	text-align: center;
}

.App-header {
	background-color: #222;
	height: 100px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}
/*Maybe a better way of consistently using CSS?*/
table {
	margin-left: auto;
	margin-right: auto;
}
.empty .weather-card{
	display: none;
	color: blue;
}
.loading .weather-card{
	display: none;
	color: gray;
}
.loading#spinner{
	display: block;
	animation: App-logo-spin infinite 1s linear;
	height: 30px;
	margin: auto;
}
#spinner {
	display: none;
}
.failed .weather-card{
	color: red;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

