.App {
	text-align: center;
}

.App-header {
	background-color: #222;
	height: 100px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}
/*Maybe a better way of consistently using CSS?*/
table {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
}
th {
	border: 1px solid #CCC;
	background: #F3F3F3;
}
.empty {
	color: gray;
}
.loading{
	border: none;
}
.loading th {
	border: none;
	background: none;
}
.loading .weather-card{
	border: none;
	display: none;
	color: gray;
}
.loading#spinner{
	display: block;
	animation: App-logo-spin infinite 1s linear;
	height: 30px;
	margin: auto;
}
#spinner {
	display: none;
}
.failed th{
	color: #990000;
}

.failed .weather-card{
	color: gray;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

